@use '../global/variables'as *;
@use '../mixin/breakpoints'as *;

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 32px;
    position: relative;
    background-image:
        radial-gradient(42.5% 42.5% at 22.28% -4.22%, rgba(2, 101, 220, 0.5) 0%, rgba(2, 101, 220, 0) 100%);

    @include tablet {
        padding-top: 65px;
    }

    @include desktop {
        min-height: 474px;
        padding-block: 56px;
        padding-inline: 95px;

        &:after {
            content: '';
            display: block;
            width: 437.24px;
            height: 526px;
            position: absolute;
            right: 120px;
            top: -25.96px;
            background-image: url(../assets/images/banner-cube.png?format=webp);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @include desktop-large {
        background-position: top left, top 0 right 164px;
        background-size: auto, 641.8px 533.5px;

        min-height: 640px;
        padding-block: 64px;

        &:after {
            left: 60vw;
            width: 533px;
            height: 641.8px;
        }
    }

    &__heading {
        font-family: $accent-font;
        color: var(--text-color);
        margin-bottom: 8px;

        font-size: 28px;
        line-height: 36px;

        @include tablet {
            font-size: 36px;
            line-height: 48px;
            letter-spacing: -0.5px;
            max-width: 70%;
        }

        @include desktop {
            font-size: 52px;
            line-height: 62px;
            max-width: 605px;
        }
    }

    &__highlight {
        color: #0265DC;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #D9D9D9;
        margin-bottom: 32px;
    }

    &__stats {
        margin-bottom: 32px;
        display: inline-grid;
        grid-template-columns: auto auto;
        column-gap: 65px;

        @include tablet {
            column-gap: 13px;
        }

        @include desktop {
            column-gap: 60px;
        }
    }

    &__stat-label {
        font-family: $accent-font;
        letter-spacing: -0.5px;
        color: var(--text-color);
        margin-bottom: 4px;
        text-shadow: 0px 4px 13px #FFFFFF66;

        grid-row: 1 / 2;

        font-size: 28px;
        line-height: 36px;

        @include tablet {
            font-size: 36px;
            line-height: 48px;
        }

        @include desktop {
            font-size: 52px;
            line-height: 62px;
            max-width: 605px;
        }
    }

    &__stat-value {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);

    }

    &__button-group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include tablet {
            flex-direction: row;
        }
    }

    &__button {}

    &__image {}
}