.blockquote{
  background-color: #002754;
  border-radius: 16px;
  font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: #F8F7FF;
}

.blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #F8F7FF;
  font-weight: 600;
  font-style: normal;
}
