@use '../global/variables'as *;
@use '../mixin/hover-corners'as *;

.blog-card {
    background-color: var(--color-alternative-2);
    @include hover-corners;
    padding: 24px;
    position: relative;

    &__image {
        margin-bottom: 24px;
    }

    &__label {
        position: absolute;
        top: 32px;
        right: 34px;
    }

    &__date,
    &__name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: var(--color-secondary);
    }

    &__name {}

    &__date {}

    &__heading {
        font-family: $accent-font;
        font-size: 36px;
        line-height: 44px;
        color: var(--color-primary);
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
    }

    &__button {}
}