.blog-section {
    padding-block: 64px;
    
    &__title {
        text-align: center;
    }

    &__list {}

    &__list-item {
        img {
            width: 736px;
            height: 198px;
        }

        &:first-child,
        &:last-child {
            img {
                width: 736px;
                height: 664px;
            }
        }
    }

    &__link {}

    &__button {}
}