.blog-card{
  background-color: #1D1C28;
}

.blog-card__image{

}

.blog-card__label {

}

.blog-card__date,
.blog-card__name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #EFF5FAD1;
}

.blog-card__name{

}

.blog-card__date{

}

.blog-card__heading{
  font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 44px;
  color: #F5F8FB;
}

.blog-card__text{
  font-size: 16px;
  line-height: 24px;
  color: #EFF5FAD1;
}

.blog-card__button{

}