@use '../global/variables'as *;

.blockquote {
    background-color: var(--color-marina-1200);
    border-radius: 16px;
    padding: 16px;
    margin: 0;

    &__text {
        font-family: $accent-font;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
        color: #F8F7FF;
        margin-bottom: 8px;
    }

    &__cite {
        font-size: 14px;
        line-height: 20px;
        color: #F8F7FF;
        font-weight: 600;
        font-style: normal;

        .icon {
            color: #E7F1FD7D;
        }
    }

    &__rating {
        color: #EFF5FAD1;
    }
}