.breadcrumbs {

    &__item {}

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: var(--color-primary);
    }

    &__link--active {
        color: var(--color-secondary-2);
        pointer-events: none;
    }
}