.breadcrumbs {

    &__item {}

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #F5F8FB;
    }

    &__link--active {
        color: #E7EEF7A8;
    }
}