.catalog-slider-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    
    &__item {
        img {
            width: 253px;
            height: 324px;
        }
    }
}