@use '../mixin/breakpoints'as *;

.catalog-slider-list {

    display: flex;
    overflow-y: auto;
    gap: 16px;

    @include tablet {
        gap: 24px;
    }

    @include desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    @include desktop-large {
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {
        flex-shrink: 0;

        @include desktop {
            &:nth-child(n + 5) {
                display: none;
            }
        }

        @include desktop-large {
            &:nth-child(n + 5) {
                display: block;
            }
        }

        img {
            width: 296px;
            height: 324px;

            @include tablet {
                width: 100%;
                max-width: 255px;
                height: 324px;
            }

            @include desktop {
                max-width: 100%;
            }
        }
    }
}