@use '../global/variables'as *;
@use '../mixin/breakpoints'as *;

.catalog-slider {
    padding-block: 32px;

    @include desktop {
        padding-block: 64px;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        row-gap: 32px;
        column-gap: 16px;
        margin-bottom: 40px;

        @include tablet {
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 16px;
        }
    }

    &__title {
        font-family: $accent-font;
        font-size: 24px;
        line-height: 32px;
        color: #F8F7FF;
        padding-block: 2px;
        flex-grow: 1;

        display: flex;
        gap: 8px;
        align-items: center;

        width: 100%;

        @include tablet {
            width: auto;
            font-size: 28px;
            line-height: 36px;
        }

        .icon {
            flex-shrink: 0;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: 2px;
            border-radius: 2px;
            background-color: #D0D7FB2B;
            margin-inline: 32px;
            flex-grow: 1;
        }
    }

    &__link {
        margin-right: 16px;
        position: relative;

        @include mobile {
            flex-grow: 1;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 2px;
            height: 24px;
            border-radius: 2px;
            background-color: #D0D7FB2B;

            position: absolute;
            right: -18px;
            top: 50%;
            translate: 0 -50%;
        }
    }

    &__nav-button {}

    &__list {}

    &__item {}
}