@use '../global/variables'as *;
@use '../mixin/breakpoints'as *;

.catalog-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 64px;
    padding-top: 64px;

    @include desktop {
        padding-top: 0;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr minmax(0, 1fr);
        gap: 16px;

        @include tablet {
            display: flex;
        }
    }

    &__title {
        font-family: $accent-font;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #F8F7FF;

        @include tablet {
            margin-right: auto;
        }
    }

    &__search {
        grid-column: 1 / -1;

        @include desktop {
            flex-basis: 295px;
        }

        @include desktop-large {
            flex-basis: 423px;
        }

        input {
            width: 100%;
        }
    }
}