.catalog-slider{

}

.catalog-slider__header{

}

.catalog-slider__title{
  font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #F8F7FF;
}

.catalog-slider__link{

}

.catalog-slider__nav-button{

}

.catalog-slider-list{

}

.catalog-slider-list__item{

}