@use '../global/variables'as *;
@use '../mixin/breakpoints'as *;

.contacts-form {
    padding-block: 32px 64px;

    @include tablet {
        padding-block: 64px 104px;
    }

    &__title {
        font-family: $accent-font;
        letter-spacing: -0.5px;
        text-align: center;
        color: #F8F7FF;

        font-size: 28px;
        line-height: 36px;
        margin-bottom: 8px;

        @include tablet {
            font-size: 36px;
            line-height: 48px;
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: var(--color-secondary);
        margin-bottom: 40px;
    }

    &__form {
        max-width: 640px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}