@use '../global/variables' as *;

.contacts-form {
    &__title {
        font-family: $accent-font;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #F8F7FF;
    }

    &__desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: var(--color-secondary);
    }

    fieldset {
        border: none;
    }
}