@use '../global/variables'as *;
@use '../mixin/breakpoints'as *;

.contacts-section {

    @include tablet {
        padding-top: 32px;
    }

    @include desktop {
        padding-top: 64px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__list-item {
        @include tablet {
            flex-basis: 307px;
        }

        @include desktop {
            flex-basis: 328px;
        }
    }

    &__link {
        border: 1px solid var(--color-line);
        color: var(--color-white);
        text-align: center;
        padding: 40px 32px;
        display: block;
        padding: 24px;

        @include tablet {
            padding: 40px 32px;
        }
    }

    &__heading {
        font-family: $accent-font;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #F8F7FF;
        margin-top: 24px;
    }

    &__text {
        color: var(--color-secondary);
    }

}