.inner-header {
    text-align: center;

    background-image: url(../assets/big_circular_lines.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    &__title {
        font-family: Bakbak One;
        font-size: 52px;
        line-height: 62px;
        letter-spacing: -0.5px;
    }
}