@use '../global/variables'as *;
@use '../mixin/hover-corners'as *;
@use '../mixin/breakpoints'as *;
@use '../mixin/transition'as *;

.item-card {
    background-color: var(--color-alternative-2);
    @include hover-corners;
    padding: 14px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 22px;
    }

    @include mouse-device {
        &:hover {
            .item-card__overlay {
                opacity: 1;
                @include transition(opacity);
                animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
        }
    }

    &__link {
        display: none;

        @include touch-device {
            display: block;
            position: absolute;
            inset: 0;
            z-index: 10;
        }
    }

    &__overlay {
        position: absolute;
        inset: -2px;
        opacity: 0;
        background: #0D0D15A3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding: 24px;
        @include transition(opacity);
    }

    &__image {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 24px;
        }
    }

    &__label {
        position: absolute;
        top: 38px;
        right: 38px;
        max-width: calc(100% - 38px * 2);
        text-align: center;
    }

    &__price {
        font-family: $accent-font;
        color: var(--color-primary);
        margin-bottom: 8px;

        font-size: 28px;
        line-height: 36px;
        margin-top: auto;

        @include tablet {
            font-size: 36px;
            line-height: 48px;
            letter-spacing: -0.5px;

        }
    }

    &__name {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: var(--color-alternative-2-invert);
    }

    &__link {}
}