.item-card{
  background-color: #1D1C28;
}

.item-card__image{

}

.item-card__label{

}

.item-card__price{
  font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #F5F8FB;
}

.item-card__name{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #EFF5FA;
}