.main-nav {

    &__list {}

    &__item {}

    &__link {
        font-size: 16px;
        line-height: 24px;
        color: #F5F8FB;
    }

    &__link--active {
        border-bottom: 1px solid #0265DC;
    }
}