.main-nav {

    &__list {}

    &__item {}

    &__link {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-primary);
    }

    &__link--active {
        border-bottom: 1px solid var(--color-accent-link-invert);
    }
}