.numeric-list {
    &__item {
        background-color: #1A1925;
    }

    &__title {
        font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: #F5F8FB;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        color: #EFF5FAD1;
    }
}