@use '../global/variables'as *;
@use '../mixin/hover-corners'as *;
@use '../mixin/breakpoints'as *;

.numeric-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop-large {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__item {
        background-color: var(--color-alternative);
        padding: 32px;

        @include hover-corners;

        &:last-child {
            @include desktop {
                grid-column: 1/-1;
            }
        }
    }

    &__title {
        font-family: $accent-font;
        font-size: 24px;
        line-height: 30px;
        color: var(--color-primary);
        margin-bottom: 24px;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
        color: var(--color-secondary);

        @include desktop {
            max-width: 380px; //approx
        }
    }
}