@use '../mixin/breakpoints'as *;

.page-footer {
    background-color: var(--color-alternative);
    color: var(--color-primary);
    padding-block: 64px 32px;

    .content-wrapper {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }

    &__logo {
        margin-bottom: 12px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        max-width: 320px;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__nav {
        padding-inline: 8px;

        @include desktop {
            padding: 0;
            flex-basis: 320px;
        }
    }

    &__nav-title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 7px;
    }

    &__nav-list {
        column-count: 2;

        @include tablet {
            width: 55%;
        }

        @include desktop {
            width: auto;
        }
    }

    &__nav-list-item {
        margin-bottom: 8px;
    }

    &__nav-list-link {
        font-size: 12px;
        line-height: 16px;
        color: var(--color-primary);
    }

    &__social-list {}

    &__bottom.content-wrapper {
        border-top: 1px solid var(--color-separator);
        padding-top: 30px;
        margin-top: 58px;
        gap: 20px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}