.page-footer {
    background-color: #1A1925;
    color: #F5F8FB;

    &__logo {}

    &__text {
        font-size: 14px;
        line-height: 20px;
    }

    &__nav {}

    &__nav-title {
        font-size: 20px;
        line-height: 28px;
    }

    &__nav-list {}

    &__nav-list-item {}

    &__nav-list-link {
        font-size: 12px;
        line-height: 16px;
        color: #F5F8FB;
    }

    &__social-list {}
}