.page-footer{
  background-color: #1A1925;
  color: #F5F8FB;
}

.page-footer__logo{

}

.page-footer__text{
  font-size: 14px;
  line-height: 20px;
}

.page-footer__nav{

}

.page-footer__nav-title{
  font-size: 20px;
  line-height: 28px;
}

.page-footer__nav-list{

}

.page-footer__nav-list-item{

}

.page-footer__nav-list-link{
  font-size: 12px;
  line-height: 16px;
  color: #F5F8FB;
}

.page-footer__social-list{

}