@use '../global/variables'as *;
@use '../mixin/details'as *;
@use '../mixin/breakpoints'as *;

.question {
    background-color: var(--color-alternative-2);
    padding: 16px;

    @include details;

    @include tablet {
        padding: 24px;
    }

    &__title {
        font-family: $accent-font;
        font-size: 24px;
        line-height: 30px;
        color: var(--text-color);
    }

    &__text {
        border-top: 1px solid var(--color-separator);
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
        margin-top: 24px;
        padding-top: 16px;

        @include tablet {
            padding-bottom: 8px;
        }
    }
}