.search-form {

    &__label {
        position: relative;

        .icon {
            position: absolute;
            top: 12px;
            left: 12px;
        }
    }

    &__input {
        width: 188px;
        padding-left: 42px;
        padding-block: 12px;
    }

    &__field {}
}