.sidebar {
    &__section {
        background-color: var(--color-alternative-2);
    }

    &__section-title {}

    &__section-list {}

    &__section-list-item {}

    &__section-link {
        font-size: 14px;
        line-height: 20px;
        color: var(--text-color);
        font-weight: 600;
    }

    &__section-tags {}

    &__section-tags-item {}

    &__section-tags-link {}
}