@use '../global/variables' as *;

.team-card {
    background-color: var(--color-alternative-2);
    padding: 32px;
    text-align: center;

    &__image {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    &__name {
        font-family: $accent-font;
        font-size: 24px;
        line-height: 30px;
        color: var(--text-color);
    }

    &__positon {
        font-size: 18px;
        line-height: 28px;
        color: var(--color-secondary);
    }

    &__social-list {}
}