@use '../mixin/breakpoints'as *;

.team {
    padding-block: 32px;

    @include desktop {
        padding-block: 64px;
    }

    &__title {
        margin-bottom: 40px;
        text-align: center;
    }

    &__list {
        display: flex;
        overflow-x: auto;
        gap: 16px;

        @include desktop {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }
    }

    &__list-item {
        flex-basis: 293px;
        flex-shrink: 0;
    }
}