.team-card {
    background-color: #1D1C28;

    &__image {
        border-radius: 50%;
    }

    &__name {
        font-family: "Bakbak One", "Arial", "Helvetica", sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: #F5F8FB;
    }

    &__positon {
        font-size: 18px;
        line-height: 28px;
        color: #EFF5FAD1;
    }

    &__social-list {}
}