.team {
    padding-block: 64px;

    &__title {
        margin-bottom: 40px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    &__list-item {
        flex-basis: 293px;
    }
}