.button{
  font-family: inherit;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 500;

  /* padding: 10px 24px; */
  border: 2px solid var(--border-color);
  text-align: center;
  background-color: transparent;

  &:hover {
    background-color: #BFC5EE1F;
    border-color: #BFC5EE1F;
    color: var(--text-color);
  }

  &:focus {
    background-color: #BFC5EE1F;
    border-color: var(--focus-color);
    outline: 2px solid var(--focus-color);
    border-radius: 0;
  }

  &:active {
    background-color: #BFC5EE1F;
    border-color: #BFC5EE1F;
    border-radius: 0;
    color: var(--text-color);
    outline: none;
  }

  &:disabled,
  &.disabled {
    background-color: var(--border-color);
    background-color: var(--border-color);
    color: #E5ECFB5C;
  }
}

.button--primary{
  background-color: var(--checked-color);
  border-color: var(--checked-color);

  &:hover {
    background-color: var(--focus-color);
    border-color: var(--focus-color);
  }

  &:focus {
    background-color: #0265DC;
    // border-color: var(--focus-color);
    // outline: 2px solid var(--focus-color);
  }

  &:active {
    background-color: #0054B6;
    border-color: #0054B6;
  }

  &:disabled,
  &.disabled {
    // background-color: #D0D7FB2B;
    // background-color: #D0D7FB2B;
    // color: #E5ECFB5C;
  }
}

.button--light {
  background-color: #FFFFFF;
  color: #0D0D15;
  border-color: transparent;

  &:hover {
    background-color: #F4F7FA;
    color: #0D0D15;
  }

  &:focus {
    background-color: #FFFFFF;
  }

  &:active {
    background-color: #E5ECFB5C;
    border-color: transparent;
    color: #fff;
  }
}

.button--medium {
  font-size: 16px;
  line-height: 24px;

//   padding: 8px 20px;
}

.button--small{
  font-size: 14px;
  line-height: 20px;

//   padding: 6px 12px;
}