.logo-bullet-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    &__item {
        font-size: 18px;
        line-height: 28px;
        color: #F8F7FF;

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 8px;

            background-image: url(../assets/images/logo.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}