.radio {
    &__label {
        font-size: 14px;
        line-height: 20px;
        color: #F5F8FB;

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid #D4D9F242;
            box-sizing: border-box;
        }
    }

    input {
        &:checked {
            &+label:before {
                border: 5px solid #0265DC;
            }

            &:hover+label:before {
                border-color: #3892F3;
            }

            &:active+label:before  {
                border-color: #B5DEFF;
            }

            &:focus+label:before {
                border-color: var(--checked-color);
            }
            &:disabled+label:before  {
                background-color: #D0D7FB2B;
            }
        }

        &:hover+label:before {
            background-color: #1D1C28;
        }

        &:active+label:before {
            border: 5px solid var(--checked-color)
        }

        &:focus+label:before {
            border-color: #E7EEF7A8;
            outline: 2px solid #3892F3;
            outline-offset: 1px;
        }

        &:disabled+label:before {
            background-color: #D0D7FB2B;
            border-color: #D0D7FB2B;
        }

        &:user-invalid+label:before {
            border-color: var(--error-color)
        }
    }
}