@use 'variables' as *;

body {
  font-family: $base-font; 
  background-color: #0D0D15; 
  color: #F5F8FB;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

a {
  text-decoration: none;
  color: #78BBFA;

  &:hover {
    color: #3892F3;
  }

  &:focus {
    outline: 4px solid #3892F3;
    border-radius: 5px;
  }

  &:active {
    color: #0054B6;
  }

  &:disabled,
  &.disabled {
    color: #E5ECFB5C;
  }
}

ul {
  list-style: none;
}

.hightlight {
  color:#0265DC;
}