:root {
  --color-white: #ffffff;
  --color-black: #000;
  // --color-gray: #cacaca;
  // --color-bg: #f0f6fd;

  // Text-icon-elements
  --color-primary: #F5F8FB;
  --color-secondary: #EFF5FAD1; 
  --color-secondary-2: #E7EEF7A8;
  --color-disabled: #E5ECFB5C;
  --color-primary-invert: #0D0D15;

  // BG 
  --color-alternative-2: #1D1C28;
  --color-alternative-2-invert: #F4F7FA;

  // Elements
  --color-accent-link: #78BBFA;
  --color-line: #D4D9F242;
  --color-separator: #BFC5EE1F;
  --color-seporator-bold: #D0D7FB2B;
  --color-accent-link-invert: #0265DC;
  --color-focus-invert: #3892F3;

  // CriticalityStatuses
  --color-negative: #EA3829;

  // StaticPalette/Marina
  --color-marina-900: #0054B6;
  --color-marina-200: #B5DEFF;



  // Text
  --text-color: var(--color-primary); 
  --link-color: var(--color-accent-link);

  // Links
  --link-hover-color: var(--color-focus-invert);
  --link-focus-color: var(--color-focus-invert);
  --link-active-color: var(--color-marina-900);

  --error-color: var(--color-negative);

  // Input
  --placeholder-color: var(--color-secondary-2);
  --input-invalid: var(--color-negative);
}

$base-font: "Poppins", "Arial", sans-serif;
$accent-font: "Bakbak One", "Arial", "Helvetica", sans-serif;