# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 4 Chrome versions
last 4 Firefox versions
last 4 Edge major versions
last 4 ChromeAndroid versions
last 4 FirefoxAndroid versions
last 2 Android versions
last 2 Samsung versions
Safari >= 15.4
iOS >= 15.4
Firefox ESR
not dead
