@use '../mixin/breakpoints'as *;

.catalog-page {
    @include desktop {
        display: flex;
        gap: 64px;
        padding-top: 64px;
    }

    &__filter-button {
        display: flex;
        width: 100%;
        margin-bottom: 64px;
        justify-content: space-between;

        @include desktop {
            display: none;
        }
    }
}