{% extends 'src/templates/layouts/base.njk' %}

{% from 'src/templates/partials/ui/icon.njk' import icon %}

{% block content %}
<h1>{{ index.title }}</h1>

{#{{ icon('check') }}#}

{% include 'src/templates/partials/main-banner.njk' %}
{% endblock %}
